$headerDarkBlue : #05324f;
$headerLightBlue : #7ec3d0;
$sideBarBlue : #426785;
$white : #fff;
$black : rgb(0,0,0);
$travelButtonGreenHover : #45a049;
$travelButtonGreen : #4CAF50;
$black_bg_w_opacity: rgb(0,0,0,0.4);