/* .App {
  text-align: center;
} */

*{
  margin: 0;
  padding: 0;
}
.cont{
  display: flex;
  flex-direction: row;
  margin-left: -50px;
}
 a{
  text-decoration: none !important;
  color: black !important;
} 

/* .fragment-content {
  display: block;
margin: 200px;
} */