@import "./elements/TemplateColors.scss";
$footerTextColor: $white;


.footer {
    margin: 0;
    height: 40vh;
    width: 100%;
    background-color: $headerDarkBlue;
    color: $footerTextColor;
    position: relative;

    .save {
        position: absolute;
        top: -10vh;
        right: 10vh;
    }

    .copyright{
        margin: 0 auto;
        padding-top: 10vh;
        display: block;
        text-align: center
    };
    .copyrightText {
        min-width: 70vh;
    }

    .logo {
        max-height: 20vh;
    }
}