*{
    padding: 0;
    margin: 0;
}

.nav{
    background: linear-gradient(90deg, #fff533, #ff6633);
    opacity: 0.8;
    color: black;
    display: flex;
  

}

.login{
    position: absolute;
    right: 0;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.103);
    padding: 10px;
    font-family: 'Metropolis-Regular', "Segoe UI", Helvetica Neue, Helvetica, sans-serif;
    font-size: large;
    display: flex;
}

#logo {
    width: 50px;
}


.menu-items {
    text-align: right;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.appbar{
    
   
}