$black : rgb(0,0,0);

.navbar {
  position: fixed;
  top: 0;
  margin:unset;
  background: linear-gradient(90deg, #a02e08, #fff533);
  height: 10vh;
  z-index: 1100;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: $black;
  align-items: center;

  .menuItems{
    display: flex;
    justify-content: flex-end;

/*     .dropdown_main *{
        color: red;
        right:0;
    } */
  }

  .logo {
    position: absolute;
    left:20px;
    width: 50px;
  }

  .title {
    position: absolute;
    left:70px; 
  }

  .login {
  }

}
